<div class="instant-consumption">
    <div class="instant-consumption-body">
      <svg width="250" height="150">
        <line class="instant-consumption-big-lines" x1="85" y1="110" x2="71" y2="90" />
        <line class="instant-consumption-big-lines" x1="134" y1="100" x2="115" y2="80" />
        <line class="instant-consumption-big-lines" x1="173" y1="67" x2="151" y2="51" />

        <!-- <line class="instant-consumption-small-lines" x1="102" y1="130" x2="90" y2="110" /> -->
      </svg>
  
      <svg id="instant-consumption-needle-svg" width="10" height="33">
        <line id="instant-consumption-needle" x1="4" y1="0" x2="4" y2="30" />
      </svg>
  
      <svg width="250" height="150">
        <text class="instant-consumption-text" x="62" y="81">0</text>
        <text class="instant-consumption-text" x="135" y="42">100</text>
        <path id="instant-consumption-path" d="M30 110 Q50 110 98 110 T195 40" />
        <text class="instant-consumption-unit-text" x="50" y="105">mA</text>
      </svg>
    </div>
  </div>
    