<div class="memory-usage">
    <div class="memory-usage-body">
      <svg width="250" height="150">
        <line class="memory-usage-big-lines" x1="162" y1="110" x2="177" y2="88" />
        <line class="memory-usage-big-lines" x1="115" y1="98" x2="132" y2="78" />
        <line class="memory-usage-big-lines" x1="80" y1="67" x2="104" y2="49.9" />

        <!-- <line class="memory-usage-small-lines" x1="102" y1="130" x2="90" y2="110" /> -->
      </svg>
  
      <svg id="memory-usage-needle-svg" width="10" height="33">
        <line id="memory-usage-needle" x1="4" y1="0" x2="4" y2="30" />
      </svg>
  
      <svg width="250" height="150">
        <text class="memory-usage-text" x="186" y="79">0</text>
        <text class="memory-usage-text" x="120" y="40">100</text>
        <text class="memory-usage-unit-text" x="200" y="105">%</text>
        <!-- <text class="memory-usage-unit-text" x="175" y="125">mem. usage</text> -->
        <path id="memory-usage-path" d="M220 110 Q200 110 152 110 T65 40" />
      </svg>
    </div>
  </div>
    