<div class="speedometer">
  <div class="speedometer-body">
    <svg width="400" height="170">
      <line class="speedometer-big-lines" x1="79" y1="130" x2="56" y2="90" />
      <line class="speedometer-big-lines" x1="126" y1="130" x2="103" y2="90" />
      <line class="speedometer-big-lines" x1="179" y1="130" x2="156" y2="90" />
      <line class="speedometer-big-lines" x1="231" y1="130" x2="208" y2="90" />
      <line class="speedometer-big-lines" x1="277" y1="123" x2="254" y2="88" />
      <line class="speedometer-big-lines" x1="333" y1="89" x2="295" y2="65" />
      <line class="speedometer-big-lines" x1="365" y1="39" x2="323" y2="32" />

      <line class="speedometer-small-lines" x1="102" y1="130" x2="90" y2="110" />
      <line class="speedometer-small-lines" x1="153" y1="130" x2="140" y2="110" />
      <line class="speedometer-small-lines" x1="205" y1="130" x2="192" y2="110" />
      <line class="speedometer-small-lines" x1="254" y1="130" x2="241" y2="110" />
      <line class="speedometer-small-lines" x1="310" y1="110" x2="293" y2="93" />
      <line class="speedometer-small-lines" x1="350" y1="63" x2="329" y2="56" />
      <!-- <line class="speedometer-small-lines" x1="375" y1="18" x2="350" y2="15" /> -->
    </svg>

    <svg id="speedometer-needle-svg" width="10" height="53">
      <line id="speedometer-needle" x1="4" y1="0" x2="4" y2="50" />
    </svg>

    <svg width="400" height="170">
      <text class="speedometer-text" x="50" y="77">0</text>
      <text class="speedometer-text" x="97" y="77">10</text>
      <text class="speedometer-text" x="150" y="77">20</text>
      <text class="speedometer-text" x="203" y="77">30</text>
      <text class="speedometer-text" x="242" y="76">40</text>
      <text class="speedometer-text" x="274" y="58">50</text>
      <text class="speedometer-text" x="297" y="35">60</text>
      <path id="speedometer-path" d="M10 130 Q165 130 250 130 T 380 10" />
      <text class="speedometer-unit-text" x="35" y="120">CM/S</text>
    </svg>
  </div>
</div>
  